/* BLOG/ARTICLE STYLES */
.blogTitle {
  margin-bottom: 1rem !important;
  font-size: 2.5rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.blogContainer p {
  font-family: "Jetbrains Body";
  font-size: 1rem;
  line-height: 1.75;
}

.blogContainer h2 {
  font-family: "Jetbrains Heading";
  margin: 2rem 0 1rem 0 !important;
  font-size: 2rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.blogContainer h3 {
  font-family: "Jetbrains Heading";
  margin-bottom: 1rem !important;
  font-size: 1.75rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.blogContainer h4 {
  font-family: "Jetbrains Heading";
  margin-bottom: 1rem !important;
  font-size: 1.5rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.blogContainer h5 {
  font-family: "Jetbrains Heading";
  margin-bottom: 1rem !important;
  font-size: 1.30rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.blogContainer h6 {
  font-family: "Jetbrains Heading";
  margin-bottom: 1rem !important;
  font-size: 1.15rem !important;
  font-weight: unset !important;
  letter-spacing: unset;
}

.divider {
  border: none;
  border-top: 2px solid #ccc;
  margin: 1rem 0 2rem 0;
  width: 100%;
}

.blogWrapper {
  margin: 4rem 0 0 0;
}

.blogContainer {
  width: 70%;
  box-sizing: unset;
}

.bannerImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.bannerImage {
  width: 100%;
  height: auto;
}

.imageWrapper {
  height: 100%;
  width: 80%;
  display: flex;
  margin-left: 15vw;
}

.blogImage {
  height: 60vh !important; /* Set your desired responsive height */
  width: auto !important; /* Let the width adjust automatically */
  object-fit: contain !important; /* Ensure the image scales correctly */
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.blogImage img {
  height: 100%;
  object-fit: contain;
}

.linkIcon {
  color: #FFF;
  margin-left: 10px;
  height: 15px;
  display: inline;
  position: relative;
  align-items: right;
}

@media only screen and (max-width: 600px) {

  .blogLink {
    word-break: unset;
    display: unset;
}

  .blogContainer {
    width: 100%;
    box-sizing: unset;
  }

  .blogWrapper {
    width: 100%;
    margin: 0;
  }

  .blogContainer {
    width: 100%;
  }

  .imageWrapper {
    width: 100%;
    justify-content: center;
    margin: auto;
  }

  .blogImage {
    height: auto !important;
    width: 100% !important;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}