@font-face {
  font-family: 'Courier New';
  src: url('/fonts/courier_new.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Heading';
  src: url('./fonts/jetbrains_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Body';
  src: url('./fonts/jetbrains_light.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #011428 !important;
  scrollbar-width: none;
}

main {
  padding: 4rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, a, li {
  font-family: 'Jetbrains Body';
  color: #E0E0E0 !important;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0.75rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jetbrains Heading';
  color: white !important;
  line-height: 1;
  margin: 0 !important;
}

a {
  text-decoration: dotted !important;
  word-break: break-all;
  white-space: normal;
  display: inline-block;
}

h1 {
  font-family: "Courier New";
  font-size: 3rem !important;
  margin-bottom: 1.5rem !important;
}

h2 {
  font-size: 1.25rem !important;
  letter-spacing: 8px;
  margin-bottom: 1.5rem !important;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    flex-direction: column !important;
  }
  
  .col-4 {
    width: 100% !important;
  }
  
  .col {
    width: 100% !important;
    margin-top: 2rem !important;
  }
}