@font-face {
  font-family: 'Courier New';
  src: url('/fonts/courier_new.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New";
  background-color: #011428 !important;
}

.main {
  padding: 4rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, a, li, h1, h2 {
  font-family: 'Courier New' !important;
  color: white !important;
  line-height: 1;
  margin: 0 !important;
}

p {
  margin-bottom: 0.75rem !important;
  font-size: 16px !important;
}

a {
  font-size: 16px !important;
  text-decoration: dotted !important;
  word-break: break-all;
  white-space: normal;
  display: inline-block;
}

h1 {
  margin-bottom: 1.5rem !important;
  font-size: 32px !important;
}

h2 {
  margin-bottom: 1.5rem !important;
  font-size: 16px !important;
  font-weight: bold !important;
  letter-spacing: 8px;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    flex-direction: column;
  }
  .w-50 {
    width: 75vw;
  }
  .col-4 {
    width: 100%;
  }
  .col {
    width: 100%;
    margin-top: 2rem !important;
  }
}